nodered.js
[{"id":"3247978c.cdb868","type":"alchemy-image-analysis","name":"","apikey":"","image-feature":"imageFaces","x":436,"y":270,"z":"759f3bc3.8a60c4","wires":[["e7011a31.18fee8"]]},{"id":"3cf45e5.fc30ba2","type":"http in","name":"","url":"/image-analysis","method":"get","swaggerDoc":"","x":128,"y":78,"z":"759f3bc3.8a60c4","wires":[["c25a957b.3da568"]]},{"id":"49da9efb.b6256","type":"http response","name":"","x":865,"y":170,"z":"759f3bc3.8a60c4","wires":[]},{"id":"58b88c60.a74774","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<!--[if IE 9]><html class=\"lt-ie10\" lang=\"en\" > <![endif]-->\n<html class=\"no-js\" lang=\"en\" >\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>BlueAlchemy</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css\">\n    <link rel=\"stylesheet\" href=\"https://rawgit.com/BluemixCloud/calculator/master/style.css\">\n    <link rel=\"stylesheet\" href=\"https://rawgit.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js\"></script>\n</head>\n<body>\n    \n    <div class=\"row\">\n        <div class=\"small-12 columns\">\n            <h1><a href=\"/image-analysis\">BlueAlchemy</a></h1>\n\n            <div class=\"panel radius\">\n                <form method=\"post\" action=\"/image-analysis\">\n                  <div class=\"row\">\n                    <div class=\"small-10 columns\">\n                        <input type=\"url\" placeholder=\"Image URL\" name=\"url\" value=\"{{req.body.url}}\">\n                    </div>\n                    <div class=\"small-2 columns\">\n                        <button type=\"submit\" class=\"tiny radius success\">Analyize Image</button>\n                    </div>\n                  </div>\n                </form>\n            </div>\n\n            <div class=\"panel radius callout\">\n                <div class=\"row\">\n                    <div class=\"small-6 columns\">\n                        <img class=\"th\" src=\"{{req.body.url}}\">\n                    </div>\n                    <div class=\"small-6 columns\" style=\"overflow:auto;\" id=\"data\">\n                        {{payload}}\n                    </div>\n                </div>\n            </div>\n\n        </div>\n    </div>\n    \n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js\"></script>\n    <script src=\"https://rawgit.com/BluemixCloud/calculator/master/main.js\"></script>\n    <script src=\"https://rawgit.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.js\"></script>\n    <script>\n        $(document).foundation();\n        var data = $('#data').text();\n        $(\"#data\").JSONView(data);\n    </script>\n</body>\n</html>\n","x":708,"y":170,"z":"759f3bc3.8a60c4","wires":[["49da9efb.b6256"]]},{"id":"121669ed.ede996","type":"http in","name":"","url":"/image-analysis","method":"post","swaggerDoc":"","x":130,"y":165,"z":"759f3bc3.8a60c4","wires":[["f2b79c5f.0d486"]]},{"id":"f2b79c5f.0d486","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.url"}],"action":"","property":"","from":"","to":"","reg":false,"x":248,"y":270,"z":"759f3bc3.8a60c4","wires":[["3247978c.cdb868"]]},{"id":"e7011a31.18fee8","type":"function","name":"","func":"msg.payload = JSON.stringify(msg.result);\nreturn msg;\n","outputs":1,"noerr":0,"x":604,"y":270,"z":"759f3bc3.8a60c4","wires":[["58b88c60.a74774"]]},{"id":"c25a957b.3da568","type":"function","name":"","func":"msg.payload = '';\nreturn msg;\n","outputs":1,"noerr":0,"x":595,"y":80,"z":"759f3bc3.8a60c4","wires":[["58b88c60.a74774"]]}]
